frontend couchbase_front
    bind *:80
    default_backend couchbase_back

backend couchbase_back
    balance roundrobin
    server nodo1 10.x.x.1:8091 check
    server nodo2 10.x.x.2:8091 check
    server nodo3 10.x.x.3:8091 check
